<style>
	.alert{
		margin-bottom: 0px;
	}
</style>

<div id="alert-map-error" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Oops!</strong> Something went wrong when trying to talk to Google Spreadsheets. Maybe try again later?
</div>

<div id="map" style="height:100%;width:100%">
</div>

